[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
graphviz = "*"

[dev-packages]
jupyterlab = "*"
black = {extras = ["jupyter"], version = "*"}

[requires]
python_version = "3.10"
